# About this Notebook:

This notebook detailed the exploratory data analysis on the Open Images Classes. So we can prepared the ourself to how to use the data.

Notebook Enviroment

- Kernel: Python 2
-

In [1]:
!python --version

Python 2.7.12

## Question to be answered:

1. How many classes can we use?
2. How many images perclass?

## TODO

# Load Modules

In [2]:
import pandas as pd
import numpy as np
import json
import os
import time
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
%matplotlib inline

import seaborn as sns

# Commonly Shared Statics

In [3]:
data_labels_description_dir_path = '../../data/doc/labels/'

In [4]:
data_dir_path = '../../data/'

# EDA on the class-descriptions.csv

In [5]:
class_descriptions_file_path = data_labels_description_dir_path + 'class-descriptions.csv'

In [6]:
df_class_descriptions = pd.read_csv(class_descriptions_file_path,names=['LabelName', 'Description'])

In [7]:
df_class_descriptions.head(10)

     LabelName          Description
0  /m/0100nhbf     Sprenger's tulip
1  /m/0104x9kv             Vinegret
2  /m/0105jzwx            Dabu-dabu
3  /m/0105ld7g  Pistachio ice cream
4  /m/0105lxy5                 Woku
5  /m/0105n86x              Pastila
6  /m/0105ts35               Burasa
7  /m/0108_09c     Summer snowflake
8    /m/01_097              Airmail
9    /m/010dmf       Isle of man tt

In [8]:
df_class_descriptions.tail(10)

        LabelName               Description
19985  /m/0zdntfj         Candy cane sorrel
19986  /m/0zg7256         Gingerbread house
19987    /m/0zghq                 Moonshine
19988     /m/0zkm                 Arthropod
19989     /m/0zlm  Conservation-restoration
19990  /m/0zrpfhj                  Throwing
19991  /m/0zrrls2                Red dahlia
19992  /m/0zrthkd                     Brine
19993  /m/0zrv5th       Lamborghini huracán
19994    /m/0zvk5                    Helmet

In [9]:
df_class_descriptions.describe()

         LabelName Description
count        19995       19995
unique       19995       19712
top     /m/02qg91d       Trunk
freq             1           4

In [10]:
df_class_descriptions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19995 entries, 0 to 19994
Data columns (total 2 columns):
LabelName      19995 non-null object
Description    19995 non-null object
dtypes: object(2)
memory usage: 468.6+ KB

## EDA on the classes-trainable.txt

In [11]:
classes_trainable_file_path = data_labels_description_dir_path + 'classes-trainable.txt'

In [12]:
df_classes_trainable = pd.read_csv(classes_trainable_file_path,names=['LabelName'])

In [13]:
df_classes_trainable.head(10)

     LabelName
0  /m/0108_09c
1    /m/010dmf
2    /m/010jjr
3    /m/010l12
4  /m/010lq47b
5  /m/010ls_cv
6     /m/01127
7    /m/01_12b
8  /m/0117_25k
9     /m/0117z

In [14]:
df_classes_trainable.describe()

         LabelName
count         7186
unique        7186
top     /m/02qg91d
freq             1

In [15]:
df_classes_trainable.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7186 entries, 0 to 7185
Data columns (total 1 columns):
LabelName    7186 non-null object
dtypes: object(1)
memory usage: 112.3+ KB

## Filter out trainable classes from class descriptions

In [16]:
df_trainables = pd.merge(df_classes_trainable,
                 df_class_descriptions[['LabelName', 'Description']],
                 on='LabelName', 
                 how='inner')

In [17]:
df_trainables.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7186 entries, 0 to 7185
Data columns (total 2 columns):
LabelName      7186 non-null object
Description    7186 non-null object
dtypes: object(2)
memory usage: 168.4+ KB

In [18]:
df_trainables.head()

     LabelName       Description
0  /m/0108_09c  Summer snowflake
1    /m/010dmf    Isle of man tt
2    /m/010jjr    Amusement park
3    /m/010l12    Roller coaster
4  /m/010lq47b         Witch hat

## EDA on train-annotations-human-imagelabels.csv

In [21]:
train_annotations_human_imagelabels_file_path = data_labels_description_dir_path + 'train-annotations-human-imagelabels.csv'

In [24]:
df_train_annotations_human_imagelabels = pd.read_csv(train_annotations_human_imagelabels_file_path,header=0)

In [25]:
df_train_annotations_human_imagelabels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27894289 entries, 0 to 27894288
Data columns (total 4 columns):
ImageID       object
Source        object
LabelName     object
Confidence    int64
dtypes: int64(1), object(3)
memory usage: 1.0+ GB

In [37]:
df_train_annotations_human_imagelabels.head()

            ImageID                    Source  LabelName  Confidence
0  000002b66c9c498e  crowdsource-verification  /m/01kcnl           1
1  000002b66c9c498e              verification  /m/010l12           0
2  000002b66c9c498e              verification  /m/012c4n           0
3  000002b66c9c498e              verification   /m/012mj           1
4  000002b66c9c498e              verification  /m/012yh1           1

In [28]:
df_train_annotations_human_imagelabels_imgIDs_Labels = df_train_annotations_human_imagelabels[['ImageID','LabelName']]

In [29]:
df_train_annotations_human_imagelabels_imgIDs_Labels.head()

            ImageID  LabelName
0  000002b66c9c498e  /m/01kcnl
1  000002b66c9c498e  /m/010l12
2  000002b66c9c498e  /m/012c4n
3  000002b66c9c498e   /m/012mj
4  000002b66c9c498e  /m/012yh1

## Mergin with ImageIDs

In [38]:
df_trainables_imageIds_label_descriptions = pd.merge(df_train_annotations_human_imagelabels_imgIDs_Labels,
                 df_trainables[['LabelName', 'Description']],
                 on='LabelName', 
                 how='inner')

In [39]:
df_trainables_imageIds_label_descriptions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21214833 entries, 0 to 21214832
Data columns (total 3 columns):
ImageID        object
LabelName      object
Description    object
dtypes: object(3)
memory usage: 647.4+ MB

In [41]:
df_trainables_imageIds_label_descriptions.head(100)

             ImageID  LabelName Description
0   000002b66c9c498e  /m/01kcnl    Birthday
1   000004f4400f6ec5  /m/01kcnl    Birthday
2   0000071d71a0a6f6  /m/01kcnl    Birthday
3   000007e5752f8f1c  /m/01kcnl    Birthday
4   00001bc2c4027449  /m/01kcnl    Birthday
5   000025ea48cab6fc  /m/01kcnl    Birthday
6   00002b368e91b947  /m/01kcnl    Birthday
7   000060e3121c7305  /m/01kcnl    Birthday
8   000069a0b17c906e  /m/01kcnl    Birthday
9   00006af3eaaad9b6  /m/01kcnl    Birthday
10  0000a1229c025d92  /m/01kcnl    Birthday
11  0000a1b2fba255e9  /m/01kcnl    Birthday
12  0000b366aaf9672a  /m/01kcnl    Birthday
13  0000f8604a4e2cfe  /m/01kcnl    Birthday
14  00014eee4d8a4f8f  /m/01kcnl    Birthday
15  000161230ca61936  /m/01kcnl    Birthday
16  0001a282f0638ef1  /m/01kcnl    Birthday
17  0001c222f055d7fc  /m/01kcnl    Birthday
18  0001d1b33deff2d3  /m/01kcnl    Birthday
19  00025005a845d9dc  /m/01kcnl    Birthday
20  00026fcce1ecc052  /m/01kcnl    Birthday
21  0002e24b635ed4f3  /m/01kcnl    Birthday
22  000325af7df4f44e  /m/01kcnl    Birthday
23  0003b7ca22eb8751  /m/01kcnl    Birthday
24  0003dd5ed2b12811  /m/01kcnl    Birthday
25  0003f807c0f5720f  /m/01kcnl    Birthday
26  00044b4864ed9e05  /m/01kcnl    Birthday
27  0004901036f67bc2  /m/01kcnl    Birthday
28  000492aa3eb327d4  /m/01kcnl    Birthday
29  0004b74a5f5998ce  /m/01kcnl    Birthday
..               ...        ...         ...
70  001456b5eac7a812  /m/01kcnl    Birthday
71  00147d9e95045025  /m/01kcnl    Birthday
72  0014d4ca8c8baed5  /m/01kcnl    Birthday
73  00153bd4b08d8457  /m/01kcnl    Birthday
74  001591b1e0fe4778  /m/01kcnl    Birthday
75  0015c027b2a20f33  /m/01kcnl    Birthday
76  0015df57518d6a1b  /m/01kcnl    Birthday
77  0015f2093b92522d  /m/01kcnl    Birthday
78  00164e85903cce63  /m/01kcnl    Birthday
79  0016945112a29ba5  /m/01kcnl    Birthday
80  00169c84ee24f1b4  /m/01kcnl    Birthday
81  0016a58ef51901c2  /m/01kcnl    Birthday
82  0016f4afe5faff29  /m/01kcnl    Birthday
83  00179725f2a17f61  /m/01kcnl    Birthday
84  0017f72c2f2692c3  /m/01kcnl    Birthday
85  001818c5451b513d  /m/01kcnl    Birthday
86  0018b13dc8b75a7f  /m/01kcnl    Birthday
87  00194ac9cf9f69fc  /m/01kcnl    Birthday
88  00199f0ca7af4c7b  /m/01kcnl    Birthday
89  0019d2d17cd585c4  /m/01kcnl    Birthday
90  0019d4f468fd8488  /m/01kcnl    Birthday
91  001b2c8819fa5d2f  /m/01kcnl    Birthday
92  001b30ed0186b87e  /m/01kcnl    Birthday
93  001b5f3a9e02f53c  /m/01kcnl    Birthday
94  001cbcb966e20986  /m/01kcnl    Birthday
95  001d0c36cd6c560c  /m/01kcnl    Birthday
96  001d3f79eb0bce4f  /m/01kcnl    Birthday
97  001d86f082bcbda5  /m/01kcnl    Birthday
98  001e949876116e72  /m/01kcnl    Birthday
99  001e959de04c112e  /m/01kcnl    Birthday

[100 rows x 3 columns]

In [42]:
df_trainables_imageIds_label_descriptions.to_csv( data_dir_path + 'imageIDs_LabelNames.csv', sep=',')

## EDA on train-annotations-machine-imagelabels.csv

In [30]:
train_annotations_machine_imagelabels_file_path = data_labels_description_dir_path + 'train-annotations-machine-imagelabels.csv'

In [ ]:
df_train_annotations_machine_imagelabels = pd.read_csv(train_annotations_machine_imagelabels_file_path,header=0)

In [ ]:
df_train_annotations_machine_imagelabels.head()

In [ ]:
## EDA on train-annotations-human-imagelabels.csv